.rigthBarFriend{
     /* padding-top: 5px; */
   
}
.rightbarFriendList{
/*    
    background-image: linear-gradient(
        60deg,
        hsl(239deg 53% 43%) 0%,
        hsl(258deg 70% 40%) 34%,
        hsl(275deg 82% 38%) 77%,
        hsl(291deg 90% 38%) 100%
      ); */

      
}
