.sideBar {
  padding-top: 5px;
  padding-left: 5px;
  flex: 2;
  color: #f6f6f6;
  background-color: #4a436e;

  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #514355;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidbarWrap {
  background-color: #4a436e;
  padding: 20px;
  cursor: pointer;
  height: 100vh;
}
.SidebarIcon {
  margin-right: 15px;
  background-color: hwb(0 100% 0%);
  color: #4a436e;
  border-radius: 5px;
  margin-right: 5px;
}
.SidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}
