.logo{
    padding-left: 10px;
    margin-bottom: 20px;
    width: 170px;
    justify-content: center;
    align-items: center;
   
  
}

.Logo{
    font-size: 24;
    margin-left: 20px;
    color:white;
    cursor: pointer;
}