.action-add-friend {
    color: #fff9;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1px;
    padding-left: 8px;
    font-family: SF Pro Display, Arial;
    font-size: .875rem;
    font-weight: 500;
    line-height: 17px;
    display: flex;
  }
  
  .qtzmvqkmugjpy {
    margin-right: 16px;
  }